.pokeball-bg {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #D95353 42%, #ffffff 42%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pokebola-linha {
    position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #2d2d2d;
    z-index: 110;
}

.fechadura-central {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border: 8px solid #2d2d2d;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    z-index: 120;
     display: flex;
    align-items: center;
    justify-content: center;
}

.botao-logo {
     width: 66px;
    height: 66px;
    object-fit: contain;
}

.pokeagenda-title {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Pokemon', sans-serif;
    font-size: 90px;
    color: #FFD700;
    letter-spacing: 2px;
    text-shadow:
        -4px -4px #3b4cca,
        4px -4px #3b4cca,
        -4px 4px #3b4cca,
        4px 4px #3b4cca;
    z-index: 130;
}

@font-face {
    font-family: 'Pokemon';
    src: url('/public/fonts/Pokemon Solid.ttf') format('truetype');
}

